@import "tailwindcss";

@tailwind utilities;

@theme inline {
    --font-inter: var(--font-inter);
    --font-archivo: var(--font-archivo);
    --font-work-sans: var(--font-work-sans);
}


@theme {
    --breakpoint-tablet: 50.625rem;
    --breakpoint-laptop: 75rem;
    --breakpoint-desktop: 90rem;
}

/*
NOT CLASSES FROM - UPSKILL YOUR ENGINEERING TEAM

.section-text-type-1 - 16PX
.section-text-type-3 - 17PX
.section-text-type-2 - 18PX
*/


/* SECTION TEXT TYPE 02 */
.section-text-type-2 {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.04em;
}

@media (max-width: 50.625rem) {
    .section-text-type-2 {
        font-size: 16px;
    }
}

@media (max-width: 28.125rem) {
    .section-text-type-2 {
        font-size: 15px;
    }
}

/* SECTION TEXT TYPE 02 */
.section-text-type-3 {
    font-family: "Work Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.02em;
}

@media (max-width: 50.625rem) {
    .section-text-type-3 {
        font-size: 15px;
    }
}

@media (max-width: 28.125rem) {
    .section-text-type-3 {
        font-size: 14px;
    }
}

/* SUBSCRIPTION TEXT */
.subscription-text {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.02em;
}

@media (max-width: 50.625rem) {
    .subscription-text {
        font-size: 14px;
    }
}

@media (max-width: 28.125rem) {
    .subscription-text {
        font-size: 13px;
    }
}

/* BENTO HEADING */
.bento-heading {
    font-family: "Archivo", sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.02em;
}

@media (max-width: 50.625rem) {
    .bento-heading {
        font-size: 17px;
    }
}

@media (max-width: 28.125rem) {
    .bento-heading {
        font-size: 16px;
    }
}

/* BENTO TEXT */
.bento-text {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.04em;
}

@media (max-width: 50.625rem) {
    .bento-text {
        font-size: 14px;
    }
}

@media (max-width: 28.125rem) {
    .bento-text {
        font-size: 13px;
    }
}
